# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/
.cache/

# frontend code
node_modules/
dist/

# env file
.env

# declarations: .old.did files
*.old.did
